.service-family {
  padding: 35px 0 20px;

  @media(max-width: 767px) {
    padding: 35px 0 0;
  }

  .row {
    margin: 0 -15px;
  }

  .logo-wrapper {
    @include col();
    @include size(3);

    @media(max-width: 1199px) {
      width: auto;
    }

    @media(max-width: 767px) {
      display: none;
    }

    .logo {
      color: #000;
    }
  }
  // .service-family__text
  &__text {
    @include col();
    @include size(9);
    font-size: 14px;

    @media(max-width: 767px) {
      @include size(12);
    }
  }
}

  