.responsive-main {
  background-color: $gray;
  position: relative;
  z-index: 0;
  padding: 35px 0 40px;

  .logo-mini {
    top: -10px;
    fill: #fff;
  }
  // .responsive-main__title
  &__title {
    margin-bottom: 80px;
  }
}
  