<header id="header" class="header">
  <div class="container">
    <div class="row">
      @@include('../../blocks/logo/_logo.html')
      <div class="header__row">
        <div class="header__top">
          @@include('../../mixins/_contacts-list.html', {
          "text": "г.Москва, Институтский пер., 2/1<br>Пн-Пт с 11.00 до 18.00"
          }')
        </div>
        <nav class="header__nav">
          @@loop('../../mixins/_nav-header.html', '../../data/nav.json')
        </nav>
      </div>
    </div>
