<header id="header" class="header">
  <div class="navbar">
    <div class="container">
      <div class="logo-wrapper">
        <a href="index.html" class="logo">
          <svg class="logo__brand">
            <use href="img/svg/logo.svg#logo-full" />
          </svg>
        </a>
      </div>
      <nav class="header__nav">
        @@loop('../../mixins/_nav-header.html', '../../data/nav.json')
      </nav>
      <button class="btn">Заказать звонок</button>
    </div>
  </div>
  <div class="container fixed">
    <div class="row">
      @@include('../../blocks/logo/_logo.html')
      <div class="header__row">
        <div class="header__top">
          @@include('../../mixins/_contacts-list.html', {
          "text": "г.Москва, Институтский пер., 2/1<br>Пн-Пт с 11.00 до 18.00"
          }')
          <button class="btn-menu"><span></span></button>
        </div>
        <nav class="header__nav">
          @@loop('../../mixins/_nav-header.html', '../../data/nav.json')
          <div class="header__top--in-menu">
            <p>г.Москва, Институтский пер., 2/1<br>Пн-Пт с 11.00 до 18.00</p>
            <a href="mailto:info@суд-да-правда.рф">
              <p>
                info@суд-да-правда.рф
              </p>
            </a>
            <p>+7 (495) 681-12-17<br>
              +7 (916) 320-42-42 </p>
          </div>
        </nav>
      </div>
    </div>
  </div>
