.advantage {
  position: relative;
  padding: 60px 0 110px;
  background-color: #fff;

  @media(max-width: 767px) {
    padding: 40px 0 15px;

    .row-sb {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  // .advantage__title
  &__title {
    margin-bottom: 100px;
    text-align: center;
    
    @media(max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  // .advantage__plus
  &__plus {
    max-width: 250px;
    text-align: center;

    strong {
      display: block;
      font-weight: 400;
      font-size: 60px;
      line-height: 1;
      @media(max-width: 539px) {
        font-size: 35px;
      }
    }

    span {
      font-size: 14px;
    }
    @media(max-width: 767px) {
      flex: 0 1 50%;
      margin-bottom: 25px;
    }
  }
}
