.stuff {
  position: relative;
  z-index: 0;
  padding: 57px 0 70px;
  color: #fff;
  background-color: $blue;
  
  @media(max-width: 767px) {
    overflow: hidden;
    padding: 40px 0;
  }
  @media(max-width: 539px) {
    .btn {
      display: block;
      margin: 0 auto;
    }
  }
  .logo-mini {
    top: unset;
    right: calc(24% - 425px);
    bottom: 15px;
    left: unset;
    width: 500px;
    height: 332px;
    fill: $blue2;

    @media(max-width: 1023px) {
      top: 15px;
      right: unset;
      bottom: unset;
      left: 50%;
      width: 100%;
      padding: 0 15px;
    }
  }

  // .stuff__img
  &__img {
    position: absolute;
    z-index: -1;
    right: calc(35% - 234px);
    bottom: 0;
    max-height: 565px;
    user-select: none;
    pointer-events: none;

    @media(max-width: 1023px) {
      right: 15px;
    }
    @media(max-width: 767px) {
      bottom: -25px;
      max-height: 300px;
    }
    @media(max-width: 539px) {
      display: none;
    }
  }

  // .stuff__title
  &__title {
    max-width: 660px;
    margin-bottom: 50px;

    @media(max-width: 1023px) {
      max-width: 550px;
      text-shadow: 0 0 3px $blue;
    }
    @media(max-width: 767px) {
      max-width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  }
  // .stuff__list
  &__list {
    max-width: 660px;
    margin-bottom: 68px;
    padding-left: 50px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    line-height: 1.5;
    list-style: none;

    li {
      position: relative;
      margin-bottom: 11px;
      text-shadow: 0 0 3px $blue;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: -50px;
        width: 23px;
        height: 23px;
        background: $beige url("../img/icons/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-radius: 50%;
      }
    }
    @media(max-width: 1023px) {
      max-width: 65%;
    }
    @media(max-width: 767px) {
      max-width: 75%;
    }
    @media(max-width: 539px) {
      margin-bottom: 15px;
      max-width: 100%;
    }
  }
}

.no-webp .stuff {
  background: $blue url("../img/stuff/bg.png");
}
