.stuff {
  position: relative;
  z-index: 0;
  padding: 57px 0 70px;
  color: #fff;
  background-color: $blue;

  .logo-mini {
    top: unset;
    right: calc(24% - 425px);
    bottom: 15px;
    left: unset;
    width: 500px;
    height: 332px;
    fill: $blue2;
  }

  // .stuff__img
  &__img {
    position: absolute;
    right: calc(35% - 234px);
    bottom: 0;
    max-height: 565px;
    user-select: none;
    pointer-events: none;
  }

  // .stuff__title
  &__title {
    max-width: 660px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  // .stuff__list
  &__list {
    max-width: 660px;
    margin-bottom: 68px;
    padding-left: 50px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    line-height: 1.5;
    list-style: none;

    li {
      position: relative;
      margin-bottom: 11px;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: -50px;
        width: 23px;
        height: 23px;
        background: $beige url("../img/icons/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-radius: 50%;
      }
    }
  }
}

.no-webp .stuff {
  background: $blue url("../img/stuff/bg.png");
}
