.footer {
  position: relative;
  padding: 22px 0 21px;
  color: #fff;
  font-size: 18px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.5) 30%, #000 40%), url("../img/footer/bg.webp");
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: left;
  background-blend-mode: multiply;
  
  a:not(.logo) {
    color: #fff;

    &:hover, &:focus, &:active {
      color: $beige;
    }
  }

  .logo-wrapper {
    align-self: center;
    grid-area: logo;
    justify-self: start;

    .logo:hover {
      color: $beige;
      filter: drop-shadow(8px 8px 8px #000);
      fill: darken($orange, 15%);
    }
  }

  // .footer__row
  &__grid {
    display: grid;
    grid-template-areas:
      "logo serv serv nav"
      "logo list1 list2 nav"
      "logo poli poli copy";
    grid-template-rows: 28px auto auto;
    grid-template-columns: 32% 16% 27% auto;
  }
  // .footer__services
  &__services {
    grid-area: serv;
    font-size: 18px;
    border-bottom: 1px solid #fff;

    h4 {
      margin: 0;
      font-weight: 400;
    }
  }

  // .footer__list
  &__list {
    padding-top: 12px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;

    &.list_1 {
      grid-area: list1;
    }
    &.list_2 {
      grid-area: list2;
      justify-self: flex-end;
    }
  }

  // .footer__nav
  &__nav {
    display: flex;
    flex-direction: column;
    grid-area: nav;
    justify-self: end;
    font-size: 18px;
    line-height: 1.6;

    a:first-child {
      display: none;
    }
  }

  // .footer__bottom
  &__bottom {
    align-self: flex-end;
    padding-top: 18px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
  }

  a.footer__bottom {
    grid-area: poli;
    text-decoration: underline;
  }

  p.footer__bottom {
    grid-area: copy;
    margin: 0;
    justify-self: end;
  }
}

.no-webp {
  .footer::before {
    background-image: url("../img/footer/bg.jpg");
  }
}

.scrollup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  bottom: -60px;
  width: 45px;
  height: 45px;
  border: none;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #fff;

  svg {
    width: 15px;
    height: 12px;
    transform: rotate(180deg);
  }

  &:hover {
    background-color: $gray2;
  }

  &.show {
    bottom: 40px;
  }

  &.absolute {
    position: absolute;
    top: -90px;
    bottom: unset;
  }
}
