.responsives {
  padding: 40px 0;
}

.responsive {
  display: flex;
  justify-content: center;
  font-size: 14px;
  
  // .responsive__avatar
  &__avatar {
    display: flex;
    flex: 0 0 53px;
    align-items: flex-end;
    justify-content: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: $gray2;
    margin-right: 40px;

    img {
      margin-bottom: -1px;
    }
  }
  // .responsive__col
  &__col {
    max-width: 740px;
  }
  // .responsive__col-name
  &__col-name {
    margin: 0;
  }
  // .responsive__col-prof
  &__col-prof {
    color: $blue3;
    margin-bottom: 15px;
    display: inline-block;
  }
  // .responsive__col-text
  &__col-text {
  }
}
  