html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Serif", serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, button {
  transition: 0.4s;
}

button {
  cursor: pointer;
}

a, a:hover {
  text-decoration: none;
}

a:focus, input:focus, button:focus, textarea:focus {
  outline: none;
}

p, span {
  font-family: "PT Sans", sans-serif;
}

h1, h2, h3 {
  margin: 0;
}

img {
  display: block;
}

.container {
  @include wrapper();
}

.row {
  display: flex;
}

.row-sb {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 250px;
  height: 45px;
  font-size: 14px;
  background-color: $beige;
  border: transparent;
  border-radius: 50px;

  &:hover, &:active, &:focus {
    background-color: #fff;
  }

  &--blue {
    color: #fff;
    background-color: $blue;
    display: block;
    margin: 40px auto 0;
    text-align: center;
    line-height: 3;

    &:hover, &:active, &:focus {
      color: darken(#fff, 10%);
      background-color: darken($blue, 10%);
    }
  }
}

h1.title, h2.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h2.title {
  font-weight: 400;
  font-size: 35px;
}

h2.title-h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.02em;
}

b.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.05;
}



.pagination-panel {
  display: flex;
  justify-content: center;
}

.pagination {
  height: 40px;
  border: 1px solid $gray2;
  border-radius: 20px;
  margin-right: 5px;
  padding: 0 15px;
  background-color: #fff;
  font-family: "PT Sans", sans-serif;

  &:hover {
    background-color: $gray2;
  }

  svg {
    width: 10px;
    height: 8px;
    transform: rotate(90deg);
  }

  // i {
  //   display: inline-block;
  //   position: relative;
  //   bottom: 6px;
  //   width: 6px;
  //   height: 1px;
  //   transform: rotate(-45deg);
  //   background-color: #000;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 1px;
  //     height: 6px;
  //     background-color: #000;
  //   }
  // }
  // .pagination--prev
  &--prev {
    margin-right: 10px;
  }
  // .pagination--page
  &--page {
    width: 40px;
  }
  // .pagination--next
  &--next {
    margin-left: 10px;
    svg {
      transform: rotate(270deg);
    }
    // i {
    //   bottom: 2px;
    //   transform: rotate(135deg);
    // }
  }
}
