//colors
$beige: #fac577; //дефолт кнопок, лого и прочее
$blue: #2961ad; //дефолт синего
$blue1: #2b5998; //цвет уголка на главное
$blue2: #274b7d; //темно-синий
$blue3: #416daa; //Профессия в отзывах
$gray: #e5e5e5; //дефолт серого
$gray1: #c4c4c4; //темно-серый
$gray2: #8b98a7; //темно-серый цвет в аватарке
$orange: #c69b5f; //дефотлн мини-лого

//Numbers
$containerMaxWidth: 1320px;
